* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button { 
    height: 30px;
    width: 150px;
    background-color: transparent;
    margin-left: 100px;
    border: 1px solid black;
    cursor: pointer;
}

.Pesquisa {
    height: 100px;
    width: 100%;
    background-color: rgb(214, 214, 214);
    display: flex;
    align-items: center;
}

.Pesquisa input{
    margin-left: 100px;
    height: 50px;
    border: 1px solid black;
    background-color: transparent;
    font-size: 20px;
    color: black;
}

.Pesquisa input::placeholder{
    color: black;
    text-indent: 10px;
}

.image-container {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.img-box {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px; /* Ajuste conforme necessário */
    width: 200px;  /* Ajuste conforme necessário */
  }

.image-item {
    border: 1px solid rgba(85, 85, 85, 0.418);
    display: flex;
    cursor: pointer;
}

.image-item img {
    width: 50%;
    height: 500%;
    object-fit: cover;
    object-position: center;
}

.image-item p {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.HeroName {
    color: rgba(255, 255, 255, 0.904);
}

.modal {
    height: 400px;
    width: 850px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgb(17, 2, 5) 100%);
    color: rgb(255, 255, 255);
    position: fixed;
    top: 350px;
    left: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.heroes {
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heroes img {
    width: 50%;
    height: 60%;
}

.champ {
    color: rgb(0, 0, 0);
    font-size: 25px;
    align-self: center;
    width: 200px;
    text-align: center;
}

.HeroProfile {
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    justify-content: center;
    text-align: start;
    gap: 5px;
}

.HeroProfile2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 4%;
    text-align: start;
    gap: 5px;
}


.atributes {
    display: none;
}